.box{
	max-width:556px;
	margin:200px auto 0 auto;
}
.left,.right{
	padding:10px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
img{
	width:258px;
	height:258px;
	display:block;
}
a,p{
	color:#666;
	display:block;
	text-align:center;
	margin:10px auto;
	font-size:14px;
}
a:hover{
	color:#f39;
}